@import "fonts";
@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  @include Rubik20;
  text-decoration: none;
  color: black;
}
@mixin DisplayCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*HEADER*/
.header-content {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  width: 1200px;
  margin: 0 auto;
}
.logo {
  @include DisplayCenter;
  gap: 10px;
}
.logo__name {
  @include Rubik40;
}
.navMenu ul {
  @include DisplayCenter;
  gap: 50px;
  & li {
    list-style-type: none;
    transition: transform 0.5s;
  }
  & li:hover {
    transform: scale(1.2);
  }
}
