$bg-html: #0e141b;
$color-text: #fff;
$color-text-accent: #3dc7f1;
$shadow-color-html: #f97316;
$shadow-color-css: #3b82f6;
$shadow-color-scss: #cc6699;
$shadow-color-js: #facc15;
$shadow-color-vue: #10b981;
